<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="rollable-die">
  <template>
    <link rel="stylesheet" href="rollable-die.css">
    <div id="the-die" on-click="{{rollDie}}" style="background-color:{{bgcolor}}">
        <span id="die-value">{{value}}</span>
    </div>
  </template>
  <script>
    // Returns a random integer between min (included) and max (excluded)
    function getRandomInt(min, max) {
      return Math.floor(Math.random() * (max - min)) + min;
    }

    Polymer('rollable-die', {
      value: '6',
      bgcolor: '#f67',
      ready: function() {
        console.log("rollable-die is ready!");
      },
      rollDie: function() {
        console.log("rolling die!");
        var self = this;
        self.bgcolor = "#c67"
        
        var rollsLeft = 30;
        var rollInterval = 10;
        var slowRoll = function() {
          self.value = getRandomInt(1, 7);
          if (rollsLeft > 0) {
            rollsLeft--;
          } else {
            self.bgcolor = "#f67";
            clearInterval(timer);
          }
        }

        var timer = setInterval(slowRoll, rollInterval);
      }
    });
  </script>
</polymer-element>