<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="rollable-die">
  <template>
    <link rel="stylesheet" href="rollable-die.css">
    <div id="the-die" on-click="{{rollDie}}" style="background-color:{{bgcolor}}">
        <canvas id="die-canvas" height="100px" width="100px"></canvas>
    </div>
  </template>
  <script>
    // Returns a random integer between min (included) and max (excluded)
    function getRandomInt(min, max) {
      return Math.floor(Math.random() * (max - min)) + min;
    }

    Polymer('rollable-die', {
      value: '5',
      bgcolor: '#f67',
      ready: function() {
        this.valueChanged();
      },
      rollDie: function() {
        var self = this;
        self.bgcolor = "#c67"
        
        var rollsLeft = 30;
        var rollInterval = 10;
        var slowRoll = function() {
          self.value = getRandomInt(1, 7);
          if (rollsLeft > 0) {
            rollsLeft--;
          } else {
            self.bgcolor = "#f67";
            clearInterval(timer);
          }
        }

        var timer = setInterval(slowRoll, rollInterval);
      },
      valueChanged: function() {
        this.drawPips(this.value);
      },
      drawPips: function(numPips) {
        var canvas = this.$["die-canvas"];
        var ctx = canvas.getContext("2d");
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        var drawFunc = "draw" + numPips;
        this[drawFunc](ctx, canvas);
      },
      draw1: function(ctx, canvas) {
        this.drawCircle(ctx, canvas.width / 2, canvas.height / 2, 10);
      },
      draw2: function(ctx, canvas) {
        this.drawCircle(ctx, canvas.width * 0.25, canvas.height * 0.25, 10);
        this.drawCircle(ctx, canvas.width * 0.75, canvas.height * 0.75, 10);
      },
      draw3: function(ctx, canvas) {
        this.draw1(ctx, canvas);
        this.draw2(ctx, canvas);
      },
      draw4: function(ctx, canvas) {
        this.draw2(ctx, canvas);
        this.drawCircle(ctx, canvas.width * 0.75, canvas.height * 0.25, 10);
        this.drawCircle(ctx, canvas.width * 0.25, canvas.height * 0.75, 10);
      },
      draw5: function(ctx, canvas) {
        this.draw4(ctx, canvas);
        this.draw1(ctx, canvas);
      },
      draw6: function(ctx, canvas) {
        this.draw4(ctx, canvas);
        this.drawCircle(ctx, canvas.width * 0.25, canvas.height * 0.5, 10);
        this.drawCircle(ctx, canvas.width * 0.75, canvas.height * 0.5, 10);
      },
      drawCircle: function(ctx, x, y, rad) {
        ctx.beginPath();
        ctx.arc(x, y, rad, 0, 2 * Math.PI);
        ctx.fillStyle = '#fff';
        ctx.fill();
        ctx.lineWidth = 2;
        ctx.strokeStyle = '#999';
        ctx.stroke();
      }
    });
  </script>
</polymer-element>