#the-die {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 50px;
  display: inline-table;
  width: 100px;
  height: 100px;
  border: 2px solid #999;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

#die-value {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}